<h1><%= @user.username %></h1>
<h4><%= @user.email %></h4>


<%= image_tag @user.avatar.url(:thumb) %>

<%= link_to 'Add Property Listing', new_user_property_path(@user) %>

<% if @user.properties.any? %>
  <h1>Properties</h1>
   <% @user.properties.each do |property| %>
   <%= image_tag property.avatar.url(:thumb) %>

      <%= link_to property.address, user_property_path(@user, property) %>
      <%= property.details %>
      <%= property.price %>
   <% end  %>
<% end %>
