<% if current_user == @user && %>
  <%= link_to 'Add Property Listing', new_user_property_path(@user), class:'well' %>
<% end %>


<div class="row">
  <div class="col-sm-6">
    <h1><%= @user.username %></h1>
    <h4> Contact <%= @user.username %>: <%= @user.email %></h4>
    <%= image_tag @user.avatar.url(:medium) %><br />

  </div>


<div class="col-sm-6">
  <% if @user.properties.any? %>
    <h1>Properties</h1>
     <% @user.properties.each do |property| %>
     <div class="col-sm-12">
        <%= image_tag property.avatar.url(:thumb) %>
        <p>Address: <%= link_to property.address, user_property_path(@user, property) %></p>
        <p>Additional information: <%= property.details %></p>
        <p>Cost to rent: <%= property.price %></p>
      </div>
     <% end  %>
  <% end %>
  </div>
</div>
