<% if current_user == @user && %>
  <%= link_to 'Add Property Listing', new_user_property_path(@user), class:'well' %>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <h1><%= @user.username %></h1>
    <h4> Contact <%= @user.username %>: <%= @user.email %></h4>
    <%= image_tag @user.avatar.url(:medium) %><br />

  </div>


<div class="col-sm-4 properties">
  <% if @properties.any? %>
      <h3>Properties <%= @user.username %> owns</h3>
       <% @properties.each do |property| %>
        <% if property.owner_id == @user.id %>
          <div class="col-sm-12">
            <%= image_tag property.avatar.url(:thumb) %>
            <p>Address: <%= link_to property.address, user_property_path(@user, property) %></p>
            <p>Additional information: <%= property.details %></p>
            <p>Cost to rent: <%= property.price %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-4 properties">
    <h3>Properties <%= @user.username %> rented</h3>
    <% @user.properties.each do |property| %>
      <%= image_tag property.avatar.url(:thumb) %><br />
      <%= property.address %><br /><br />
    <% end %>
  </div>
</div>
