<div class="well">
  <%= link_to "Back", user_path(@user) %>
  <% if current_user == User.find(params[:user_id]) %>
  |  <%= link_to "Edit", edit_user_property_path(@user, @property) %> |
  <%= link_to "Delete", user_property_path(@user, @property), data: {method: 'delete', confirm:'are you sure?'} %>
  | <%= link_to "Add photo", new_property_image_path(@property) %>
  <% end %>
</div>

<br />

<div class="row row-margin">
  <div class="col-sm-4">
    <%= image_tag @property.avatar.url(:medium), class: 'profile-image' %>
  </div>
  <div class="col-sm-8">
    <h3><%= @property.address %></h3>
    <h4><%= @property.details %></h4><br />
    <h3><%= @property.price %></h3>
  </div>
</div>

<div class="row">
    <% @property.images.each do |image| %>
    <div class="col-sm-2">
      <%= image_tag image.avatar.url(:thumb) %>
      <h5 class="caption"><%= image.caption %></h5>
    </div>
    <% end %>
</div>
